.construction-items {

	&-wrapper {
		padding: 0 16px;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 550px;
		min-height: 70vh;
		max-height: 70vh;
		overflow: scroll; 
	}

	&-title {
		font-size: var(--x-large-text);
	}
	
}

.questionnaire-form {
	&-wrapper {
		min-height: 100vh;
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 10px;
	}

	&-question-section-wrapper {
		width: 60%;
		margin-bottom: 20px;
	}

	&-question-section-title {
		height: 40px;
		color: white;
		font-size: var(--medium-text);
		background: var(--primary-gradient);
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-question-section-complete {
		background: var(--complete-gradient);
	}

	&-question-section-arrow {
		transform: rotate(-90deg);
		transition: transform 0.4s ease-in-out;
	}

	&-question-section-body {
		background-color: var(--primary-background);
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 40vh;
		max-height: 50vh;
		overflow: hidden;
	}

	&-question-section-answer-body {
		width: 70%;
		height: 70%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	&-answer-buttons-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	}

	&-result-summary-table {
		min-height: 150px;
		padding: 20px;
	}

	&-result-summary-table-sub {
		padding-left: 20px;
	}

	&-result-summary-table-icon {
		margin-right: 20px;
	}

	&-result-summary-table-result {
		padding-left: 40px;
		font-weight: bold;
	}

	&-complete-buttons-wrapper {
		width: 50%;
		display: flex;
		justify-content: space-evenly;
	}
}
