.side-bar-wrapper {
	display: flex;
	min-width: 15%;
	background-color: var(--tertiary-dark);
	color: white;
	font-size: var(--small-text);
	flex-direction: column;
	justify-content: center;
	position: fixed;
	height: 100vh;
}

.step-tracker {
	display:flex;
	width: 100%;
	height: 15%;
	align-items: center;
	justify-content: center;
}
