:root {
	--small-text: 1.2rem;
	--medium-text: 1.3rem;
	--large-text: 1.5rem;
	--x-large-text: 1.6rem;

	--primary-dark: #003459;
	--secondary-dark: #007EA7;
	--tertiary-dark: #00171F;
	--primary-background: #d5e0f2;
	--primary-contrast: #00A7E1;
}