:root {
	--small-text: 1.2rem;
	--medium-text: 1.3rem;
	--large-text: 1.5rem;
	--x-large-text: 1.6rem;

	--primary-dark: #003459;
	--secondary-dark: #007EA7;
	--tertiary-dark: #00171F;
	--primary-background: #d5e0f2;
	--primary-contrast: #00A7E1;

	--highlight-background: white;
	--highlight-primary: #f07167;

	--primary-gradient: linear-gradient(42deg, rgba(0,52,89,1) 0%, rgba(0,126,167,1) 100%);
	--complete-gradient: linear-gradient(42deg, rgba(17,48,1,1) 0%, rgba(0,167,46,0.4920343137254902) 100%);
}